In [360]:
# import modules
import pandas as pd
import numpy as np
import os

# Work on Crime and Clearances, and Pop and Area

In [383]:
# DataFrame for Crimes and clearances with Arson
crime_clearance_df = pd.read_csv(
    "../data/Crimes_and_Clearances_with_Arson-1985-2023.csv"
)

# DataFrame for Pop and area by county
pop_area = pd.read_csv("../data/Pop_and_area_by_county_1980_to_2024.csv")

/tmp/ipykernel_11384/985258103.py:2: DtypeWarning: Columns (21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_clearance_df = pd.read_csv(

The message above indicates that some of the columns have mixed data type. We can resolve this below:
- First check which columns have non-numeric data types.
- Check which columns have mixed data types.

In [384]:
## Columns with Non numeric dtypes
non_numeric_cols = crime_clearance_df.select_dtypes(include=["object"]).columns
print(non_numeric_cols)

Index(['County', 'NCICCode', 'TotalStructural_sum', 'TotalMobile_sum',
       'TotalOther_sum', 'GrandTotal_sum', 'GrandTotClr_sum'],
      dtype='object')

In [385]:
def mixed_type_columns(df: pd.DataFrame) -> list:
    """
    Look for columns with mixed types

    Parameters:
    df(pd.DataFrame)

    Returns:
    list: A list of columes with mixed dtypes
    """
    mixed_columns = []
    for column in df.columns:
        types_in_column = df[column].map(type).unique()
        if len(types_in_column) > 1:
            mixed_columns.append(column)
    return mixed_columns

In [386]:
# The columns with mixed dtypes
mixed_columns = mixed_type_columns(crime_clearance_df)
print(mixed_columns)

['TotalStructural_sum', 'TotalMobile_sum', 'TotalOther_sum', 'GrandTotal_sum', 'GrandTotClr_sum']

In [387]:
cca_df = crime_clearance_df.copy()  # A copy of rime_clearance_df

# Resolve the issue with mixed dtypes
cca_df[mixed_columns] = cca_df[mixed_columns].apply(pd.to_numeric, errors="coerce")

In [388]:
# No mixed types in the copy of the dataframe.
mixed_columns = mixed_type_columns(cca_df)
print(mixed_columns == [])

True

In [389]:
# Remove the column
cca_df = cca_df.drop(["NCICCode"], axis=1)
cca_df.head()

,Year,County,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,VehicleTheft_sum,...,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT200nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,427,3,27,166,231,3964,1483,353,...,109,205,44,11,475,753.0,437.0,NaN,440,498
1,1985,Alameda County,405,7,15,220,163,4486,989,260,...,673,516,183,53,559,540.0,622.0,NaN,916,1159
2,1985,Alameda County,101,1,4,58,38,634,161,55,...,62,39,46,17,37,84.0,68.0,NaN,128,138
3,1985,Alameda County,1164,11,43,660,450,12035,2930,869,...,508,611,1877,18,496,533.0,636.0,NaN,2793,4274
4,1985,Alameda County,146,0,5,82,59,971,205,102,...,153,16,85,24,169,217.0,122.0,NaN,161,164

In [390]:
# Custom function to remove County from the values in the column County


def remove_county(text: str) -> str:
    """
    Remove County from string
    """
    return text.replace(" County", "")


assert remove_county("Hello County") == "Hello"
assert remove_county("Hello World County") == "Hello World"

In [391]:
# Apply the remove_county to the dataframe cca_df
cca_df["County"] = cca_df["County"].apply(remove_county)
cca_df["Year"] = cca_df["Year"].astype(str)

# Group by 'County' and 'Year'
cca_grouped_df = cca_df.groupby(["County", "Year"]).sum()

In [392]:
cca_grouped_df.head()

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879

              AggAssault_sum  Property_sum  Burglary_sum  VehicleTheft_sum  \
County  Year
Alameda 1985            5267         89297         24997              7142
        1986            5530         90167         24392              7896
        1987            5767         88306         22399              8909
        1988            5219         92745         22308             11080
        1989            4842         92888         21311             12556

              LTtotal_sum  ViolentClr_sum  ...  MVPLARnao_sum  BILARnao_sum  \
County  Year                               ...
Alameda 1985        57158            5429  ...           5728          3926
        1986        57879            5570  ...           5449          3380
        1987        56998            6303  ...           5445          2954
        1988        59357            5708  ...           4971          3183
        1989        59021            5250  ...           4998          3702

              FBLARnao_sum  COMLARnao_sum  AOLARnao_sum  LT400nao_sum  \
County  Year
Alameda 1985         10664            406          9163        7744.0
        1986          9575            465          9552        9048.0
        1987          8687            256          8817       11437.0
        1988          8103            367         10482       12588.0
        1989          7386            322          8284       13458.0

              LT200400nao_sum  LT200nao_sum  LT50200nao_sum  LT50nao_sum
County  Year
Alameda 1985           7787.0           0.0           14473        27154
        1986           7482.0           0.0           13459        27890
        1987           8132.0           0.0           10845        26584
        1988           8538.0           0.0           11133        27098
        1989           8758.0           0.0           11590        25215

[5 rows x 67 columns]

In [393]:
# Create a new feature 'crime_rate' for each county and year: crime_rate = Violentsum/poplation
violent = [
    "Violent_sum",
    "Homicide_sum",
    "ForRape_sum",
    "Robbery_sum",
    "AggAssault_sum",
    "ViolentClr_sum",
    "HomicideClr_sum",
    "ForRapeClr_sum",
    "RobberyClr_sum",
    "AggAssaultClr_sum",
]

property = [
    "Property_sum",
    "Burglary_sum",
    "VehicleTheft_sum",
    "LTtotal_sum",
    "PropertyClr_sum",
    "BurglaryClr_sum",
    "VehicleTheftClr_sum",
    "LTtotalClr_sum",
]

In [403]:
crime_data = cca_grouped_df[violent + property]
crime_data.head()

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453

              RobberyClr_sum  AggAssaultClr_sum  Property_sum  Burglary_sum  \
County  Year
Alameda 1985            1517               3376         89297         24997
        1986            1545               3379         90167         24392
        1987            1569               4132         88306         22399
        1988            1545               3565         92745         22308
        1989            1496               3203         92888         21311

              VehicleTheft_sum  LTtotal_sum  PropertyClr_sum  BurglaryClr_sum  \
County  Year
Alameda 1985              7142        57158            15409             3117
        1986              7896        57879            15121             2899
        1987              8909        56998            16380             2848
        1988             11080        59357            16747             2671
        1989             12556        59021            16171             2539

              VehicleTheftClr_sum  LTtotalClr_sum
County  Year
Alameda 1985                 1607           10685
        1986                 1698           10524
        1987                 2189           11343
        1988                 2533           11543
        1989                 2560           11072

In [395]:
# Columns for new dataframe
list_of_cols = [
    "year",
    "county",
    "population",
    "crime_rate",
    "clearance_rate",
    "population_density",
    "vacancy_rate",
    "number_of_person_in_household",
    "mobile_home_ratio",
    "percent_in_poverty",
    "adjusted_median_income",
    "unemployment_rate",
    "dropout_rate",
    "public_school_rate",
    "no_highschool_rate",
    "uninsured_rate",
    "house_affordability",
    "adj_police_budget",
    "adj_education_budget",
    "adj_welfare_budget",
    "adj_mental_health_budget",
    "adj_rehab_budget",
    "adj_health_budget",
    "adj_judiciary_budget",
    "adj_prison_budget",
    "median_age",
    "home_ownership_rate",
    "rent_burden",
]

In [405]:
pop_area = pop_area.rename(columns={"COUNTY": "County", "Area (sq mi)": "Area_sq_mi"})
pop_area = pop_area.fillna(0)

pop_area_copy = pop_area.copy()  # Make a copy
pop_area_copy.head()

,County,Area_sq_mi,1981,1982,1983,1984,1985,1986,1987,1988,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Alameda,738.0,"1,117,800","1,134,000","1,151,800","1,170,400","1,185,500","1,206,900","1,220,600","1,242,300",...,"1,622,205","1,641,983","1,656,919","1,666,247","1,675,964","1,681,337","1,655,767","1,645,265","1,644,199","1,644,569"
1,Alpine,739.0,"1,090","1,100","1,120","1,080","1,100","1,140","1,130","1,100",...,"1,190","1,196","1,201","1,205","1,201","1,204","1,181","1,177","1,166","1,163"
2,Amador,606.0,"19,800","20,250","20,600","21,050","21,800","22,450","23,300","25,750",...,"37,453","37,663","38,807","39,708","40,227","40,426","40,224","40,073","40,028","39,893"
3,Butte,1604.0,"146,800","150,700","153,800","156,600","159,700","163,000","166,200","170,800",...,"227,400","228,198","230,412","231,774","227,263","216,090","206,058","206,183","205,741","206,194"
4,Calaveras,1020.0,"21,350","22,250","23,200","23,850","24,650","25,550","26,800","28,200",...,"45,395","45,402","45,355","45,367","45,324","45,290","45,013","44,771","44,616","44,436"

In [406]:
pop_area_copy = pop_area_copy.drop(["Area_sq_mi"], axis=1)
pop_area_copy["County"] = pop_area_copy["County"].apply(lambda x: str(x.strip()))
pop_area_copy.head()

,County,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Alameda,"1,117,800","1,134,000","1,151,800","1,170,400","1,185,500","1,206,900","1,220,600","1,242,300","1,261,200",...,"1,622,205","1,641,983","1,656,919","1,666,247","1,675,964","1,681,337","1,655,767","1,645,265","1,644,199","1,644,569"
1,Alpine,"1,090","1,100","1,120","1,080","1,100","1,140","1,130","1,100","1,090",...,"1,190","1,196","1,201","1,205","1,201","1,204","1,181","1,177","1,166","1,163"
2,Amador,"19,800","20,250","20,600","21,050","21,800","22,450","23,300","25,750","27,600",...,"37,453","37,663","38,807","39,708","40,227","40,426","40,224","40,073","40,028","39,893"
3,Butte,"146,800","150,700","153,800","156,600","159,700","163,000","166,200","170,800","175,200",...,"227,400","228,198","230,412","231,774","227,263","216,090","206,058","206,183","205,741","206,194"
4,Calaveras,"21,350","22,250","23,200","23,850","24,650","25,550","26,800","28,200","29,700",...,"45,395","45,402","45,355","45,367","45,324","45,290","45,013","44,771","44,616","44,436"

In [407]:
# Convert pop_area_copy to the structure of crime_data
pop_index_county = pop_area_copy.set_index("County")  # Index dataframe by County
pop_stacked = pop_index_county.stack().to_frame(name="popupation")
pop_stacked["popupation"] = pop_stacked["popupation"].apply(
    lambda x: int(str(x.replace(",", "")))
)
pop_stacked.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2596 entries, ('Alameda', '1981') to ('State Total', '2024')
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   popupation  2596 non-null   int64
dtypes: int64(1)
memory usage: 29.3+ KB

In [448]:
# Create Column for Population and Area

crime_data_df = crime_data.copy()
crime_data_df["Population"] = pop_stacked[
    "popupation"
]  # Add column 'Population' to crime_data_df

area_df = pop_area.copy()
area_df = area_df[["County", "Area_sq_mi"]]
area_df["County"] = area_df["County"].apply(lambda x: str(x.strip()))

crime_data_df = crime_data_df.reset_index()  # Reset the index
crime_data_df = crime_data_df.merge(area_df, on="County", how="left")
crime_data_df = crime_data_df.set_index(["County", "Year"])

In [449]:
crime_data_df

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879
...                   ...           ...          ...          ...
Yuba    2019          326             7           41           61
        2020          404             2           37           57
        2021          354             6           35           70
        2022          279             5           33           40
        2023          334             9           24           31

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453
...                      ...             ...              ...             ...
Yuba    2019             217             134                8               6
        2020             308             161                2               5
        2021             243             149                7               9
        2022             201             121                4               7
        2023             270             122                7               8

              RobberyClr_sum  AggAssaultClr_sum  Property_sum  Burglary_sum  \
County  Year
Alameda 1985            1517               3376         89297         24997
        1986            1545               3379         90167         24392
        1987            1569               4132         88306         22399
        1988            1545               3565         92745         22308
        1989            1496               3203         92888         21311
...                      ...                ...           ...           ...
Yuba    2019              13                107          1844           405
        2020              26                128          1841           318
        2021              21                112          1284           242
        2022              18                 92          1227           302
        2023              14                 93           828           264

              VehicleTheft_sum  LTtotal_sum  PropertyClr_sum  BurglaryClr_sum  \
County  Year
Alameda 1985              7142        57158            15409             3117
        1986              7896        57879            15121             2899
        1987              8909        56998            16380             2848
        1988             11080        59357            16747             2671
        1989             12556        59021            16171             2539
...                        ...          ...              ...              ...
Yuba    2019               475          964              121               45
        2020               623          900              101               31
        2021               293          749              110               28
        2022               131          794               84               19
        2023               144          420               88               35

              VehicleTheftClr_sum  LTtotalClr_sum  Population  Area_sq_mi
County  Year
Alameda 1985                 1607           10685     1185500       738.0
        1986                 1698           10524     1206900       738.0
        1987                 2189           11343     1220600       738.0
        1988                 2533           11543     1242300       738.0
        1989                 2560           11072     1261200       738.0
...                           ...             ...         ...         ...
Yuba    2019                   15              61       79619       630.0
        2020                   23              47       81178       630.0
        2021                   42              40       82091       630.0
        2022                   25              40       82563       630.0
        2023                   16              37       83405       630.0

[2262 rows x 20 columns]

Compute Rates

In [450]:
crime_data_df["crime_rate"] = (
    crime_data_df["Violent_sum"] / crime_data_df["Population"]
)  # Crime rate
crime_data_df["clearance_rate"] = (
    crime_data_df["ViolentClr_sum"] / crime_data_df["Population"]
)  # Clearance rate
crime_data_df["population_density"] = (
    crime_data_df["Population"] / crime_data_df["Area_sq_mi"]
)

In [451]:
crime_data_df.head()

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453

              RobberyClr_sum  AggAssaultClr_sum  ...  LTtotal_sum  \
County  Year                                     ...
Alameda 1985            1517               3376  ...        57158
        1986            1545               3379  ...        57879
        1987            1569               4132  ...        56998
        1988            1545               3565  ...        59357
        1989            1496               3203  ...        59021

              PropertyClr_sum  BurglaryClr_sum  VehicleTheftClr_sum  \
County  Year
Alameda 1985            15409             3117                 1607
        1986            15121             2899                 1698
        1987            16380             2848                 2189
        1988            16747             2671                 2533
        1989            16171             2539                 2560

              LTtotalClr_sum  Population  Area_sq_mi  crime_rate  \
County  Year
Alameda 1985           10685     1185500       738.0    0.009809
        1986           10524     1206900       738.0    0.010353
        1987           11343     1220600       738.0    0.009588
        1988           11543     1242300       738.0    0.008825
        1989           11072     1261200       738.0    0.008375

              clearance_rate  population_density
County  Year
Alameda 1985        0.004580         1606.368564
        1986        0.004615         1635.365854
        1987        0.005164         1653.929539
        1988        0.004595         1683.333333
        1989        0.004163         1708.943089

[5 rows x 23 columns]

# Work on Unemployment

In [452]:
# DataFrame for Unemployment rate
unemployment_rate_df = pd.read_excel("../data/Unemployment_rate_1990-2023.xlsx")

In [453]:
unemployment_rate_df = unemployment_rate_df.rename(
    columns={
        "County Name/State Abbreviation": "County",
        "unemployment rate(%)": "unemployment_rate",
    }
)
unemployment_rate_df.head()

,Code,Code.1,Code.2,County,Year,Unnamed: 5,Laber Force,Employed,Unemployed,unemployment_rate
0,CN0600100000000,6,1,"Alameda County, CA",2023,NaN,826102,792439,33663,4.1
1,CN0600300000000,6,3,"Alpine County, CA",2023,NaN,540,505,35,6.5
2,CN0600500000000,6,5,"Amador County, CA",2023,NaN,14404,13673,731,5.1
3,CN0600700000000,6,7,"Butte County, CA",2023,NaN,91910,87088,4822,5.2
4,CN0600900000000,6,9,"Calaveras County, CA",2023,NaN,21956,21030,926,4.2

In [454]:
unemployment_rate_df["County"] = unemployment_rate_df["County"].apply(
    lambda x: x.replace(" County, CA", "").replace(" County/city, CA", "")
)
unemp_rate_df = unemployment_rate_df.copy()
unemp_rate_df = unemp_rate_df.fillna(0)
unemp_rate_df = unemp_rate_df[["County", "Year", "unemployment_rate"]]
unemp_rate_df["Year"] = unemp_rate_df["Year"].astype(str)
unemp_rate_df.set_index(["County", "Year"], inplace=True)

In [ ]:
crime_data_df = crime_data_df.merge(unemp_rate_df, on=["County", "Year"], how="left")

In [456]:
crime_data_df.head(5)

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453

              RobberyClr_sum  AggAssaultClr_sum  ...  PropertyClr_sum  \
County  Year                                     ...
Alameda 1985            1517               3376  ...            15409
        1986            1545               3379  ...            15121
        1987            1569               4132  ...            16380
        1988            1545               3565  ...            16747
        1989            1496               3203  ...            16171

              BurglaryClr_sum  VehicleTheftClr_sum  LTtotalClr_sum  \
County  Year
Alameda 1985             3117                 1607           10685
        1986             2899                 1698           10524
        1987             2848                 2189           11343
        1988             2671                 2533           11543
        1989             2539                 2560           11072

              Population  Area_sq_mi  crime_rate  clearance_rate  \
County  Year
Alameda 1985     1185500       738.0    0.009809        0.004580
        1986     1206900       738.0    0.010353        0.004615
        1987     1220600       738.0    0.009588        0.005164
        1988     1242300       738.0    0.008825        0.004595
        1989     1261200       738.0    0.008375        0.004163

              population_density  unemployment_rate
County  Year
Alameda 1985         1606.368564                NaN
        1986         1635.365854                NaN
        1987         1653.929539                NaN
        1988         1683.333333                NaN
        1989         1708.943089                NaN

[5 rows x 24 columns]

# Work on Median House and CPI

In [457]:
# DataFrame for Califonia_CPI
califonia_cpi_df = pd.read_excel("../data/California_CPI_1985_to_2023.xlsx")

# DataFrame for median household income
median_house_income = pd.read_excel("../data/Median_income_2000_and_2009_to_2023.xlsx")

In [465]:
califonia_cpi_df["Year"] = califonia_cpi_df["Year"].astype(str)

In [463]:
median_house_income["Year"] = median_house_income["Year"].astype(str)

In [466]:
median_house_cpi = median_house_income.merge(califonia_cpi_df, on="Year", how="left")
median_house_cpi["County"] = median_house_cpi["County"].apply(
    lambda x: x.replace(" County", "").strip()
)
median_house_cpi = median_house_cpi.rename(
    columns={"Median Household Income": "median_hse_income"}
)
median_house_cpi = median_house_cpi.set_index(["County", "Year"])
median_house_cpi["median_hse_income"] = median_house_cpi["median_hse_income"].astype(
    "float64"
)

In [467]:
median_house_cpi["adjusted_income"] = (
    median_house_cpi["median_hse_income"] / median_house_cpi.CPI
)
median_house_cpi.head(3)

                 median_hse_income      CPI  adjusted_income
County     Year
California 2023            95473.0  331.804       287.739147
Alameda    2023           119230.0  331.804       359.338646
Alpine     2023            83265.0  331.804       250.946342

In [468]:
crime_data_df = crime_data_df.merge(median_house_cpi, on=["County", "Year"], how="left")

In [470]:
crime_data_df.head(50)

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879
        1990        11626           188          766         5108
        1991        15435           199          707         6199
        1992        16748           214          671         7231
        1993        17647           199          637         7288
        1994        16278           187          617         6518
        1995        15392           196          564         6324
        1996        13875           142          542         5945
        1997        13428           142          557         5457
        1998        11894           107          595         4622
        1999        10233            85          542         3847
        2000         9485           110          569         3366
        2001         9422           108          495         3853
        2002         9497           144          472         4140
        2003        10104           139          524         4381
        2004         9114           117          472         3904
        2005         9749           126          542         4479
        2006        12419           172          518         6020
        2007        12536           152          528         6042
        2008        12778           147          590         5936
        2009        11189           138          553         5215
        2010        10468           132          524         4870
        2011        10785           133          413         5244
        2012        11899           152          477         6220
        2013        11739           113          362         6806
        2014        10356           102          423         5039
        2015         9679           119          568         4970
        2016        10127           116          628         5112
        2017         9923            90          810         4817
        2018         9948            92          834         4837
        2019         9734            96          702         4916
        2020         9645           143          684         4149
        2021        10524           146          671         4575
        2022        11125           158          691         4528
        2023        20927           165          773         5995
Alpine  1985            8             0            0            0
        1986           23             1            1            0
        1987            6             0            0            0
        1988            2             1            0            0
        1989            4             0            0            0
        1990            1             0            0            0
        1991            6             0            0            0
        1992            7             0            0            0
        1993           13             0            3            0
        1994            9             0            0            0
        1995            9             0            0            0

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453
        1990            5564            5465              112             425
        1991            8330            5971              115             372
        1992            8632            6316              140             337
        1993            9523            6602               93             329
        1994            8956            6492              107             328
        1995            8308            3504               89             104
        1996            7246            3726               75             164
        1997            7272            5418               74             258
        1998            6570            4494               66             293
        1999            5759            4264               52             237
        2000            5440            3415               62             210
        2001            4966            3765               41             214
        2002            4741            3337               57             169
        2003            5060            3426               70             198
        2004            4621            3042               44             144
        2005            4602            2704               33              85
        2006            5709            3701               58             180
        2007            5814            3461               39             162
        2008            6105            4008               45             184
        2009            5283            3570               64             248
        2010            4942            3422               66             199
        2011            4995            3174               52             134
        2012            5050            2946               55             201
        2013            4458            2957               51             143
        2014            4792            3079               68             177
        2015            4022            3000               52             277
        2016            4271            3346               58             336
        2017            4206            3296               58             375
        2018            4185            2803               46             199
        2019            4020            2218               50             164
        2020            4669            2558               65             128
        2021            5132            2571               60             140
        2022            5748            2041               60             114
        2023           13994            2156               79             102
Alpine  1985               8               4                0               0
        1986              21              13                1               1
        1987               6               1                0               0
        1988               1               0                0               0
        1989               4               0                0               0
        1990               1               0                0               0
        1991               6               1                0               0
        1992               7               4                0               0
        1993              10               5                0               0
        1994               9               3                0               0
        1995               9               8                0               0

              RobberyClr_sum  AggAssaultClr_sum  ...  LTtotalClr_sum  \
County  Year                                     ...
Alameda 1985            1517               3376  ...           10685
        1986            1545               3379  ...           10524
        1987            1569               4132  ...           11343
        1988            1545               3565  ...           11543
        1989            1496               3203  ...           11072
        1990            1536               3392  ...            9994
        1991            1483               4001  ...            9968
        1992            1435               4404  ...            9524
        1993            1414               4766  ...            8375
        1994            1329               4728  ...            8567
        1995             588               2723  ...            7011
        1996             895               2592  ...            7165
        1997            1205               3881  ...            7809
        1998             997               3138  ...            7096
        1999             912               3063  ...            6554
        2000             707               2436  ...            5268
        2001             695               2815  ...            5044
        2002             660               2451  ...            4810
        2003             846               2312  ...            4977
        2004             734               2120  ...            4470
        2005             772               1814  ...            3833
        2006            1014               2449  ...            3555
        2007            1062               2198  ...            3627
        2008            1175               2604  ...            3778
        2009            1068               2190  ...            3431
        2010             886               2271  ...            3524
        2011             866               2122  ...            3367
        2012             808               1882  ...            3292
        2013             855               1908  ...            3171
        2014             821               2013  ...            3272
        2015             765               1906  ...            3496
        2016             957               1995  ...            3335
        2017             924               1939  ...            3021
        2018             956               1602  ...            3166
        2019             776               1228  ...            3060
        2020             924               1441  ...            1832
        2021             726               1645  ...            1835
        2022             486               1381  ...            1838
        2023             486               1489  ...            2087
Alpine  1985               0                  4  ...               1
        1986               0                 11  ...               2
        1987               0                  1  ...               0
        1988               0                  0  ...               0
        1989               0                  0  ...               0
        1990               0                  0  ...               0
        1991               0                  1  ...               1
        1992               0                  4  ...               2
        1993               0                  5  ...               8
        1994               0                  3  ...              15
        1995               0                  8  ...               5

              Population  Area_sq_mi  crime_rate  clearance_rate  \
County  Year
Alameda 1985     1185500       738.0    0.009809        0.004580
        1986     1206900       738.0    0.010353        0.004615
        1987     1220600       738.0    0.009588        0.005164
        1988     1242300       738.0    0.008825        0.004595
        1989     1261200       738.0    0.008375        0.004163
        1990     1276702       738.0    0.009106        0.004281
        1991     1284782       738.0    0.012014        0.004647
        1992     1302709       738.0    0.012856        0.004848
        1993     1318127       738.0    0.013388        0.005009
        1994     1327526       738.0    0.012262        0.004890
        1995     1333031       738.0    0.011547        0.002629
        1996     1340509       738.0    0.010351        0.002780
        1997     1361330       738.0    0.009864        0.003980
        1998     1389000       738.0    0.008563        0.003235
        1999     1412315       738.0    0.007246        0.003019
        2000     1443939       738.0    0.006569        0.002365
        2001     1457185       738.0    0.006466        0.002584
        2002     1467063       738.0    0.006473        0.002275
        2003     1467892       738.0    0.006883        0.002334
        2004     1466407       738.0    0.006215        0.002074
        2005     1462736       738.0    0.006665        0.001849
        2006     1462371       738.0    0.008492        0.002531
        2007     1470622       738.0    0.008524        0.002353
        2008     1484085       738.0    0.008610        0.002701
        2009     1497799       738.0    0.007470        0.002383
        2010     1510271       738.0    0.006931        0.002266
        2011     1527169       738.0    0.007062        0.002078
        2012     1549193       738.0    0.007681        0.001902
        2013     1575139       738.0    0.007453        0.001877
        2014     1597747       738.0    0.006482        0.001927
        2015     1622205       738.0    0.005967        0.001849
        2016     1641983       738.0    0.006168        0.002038
        2017     1656919       738.0    0.005989        0.001989
        2018     1666247       738.0    0.005970        0.001682
        2019     1675964       738.0    0.005808        0.001323
        2020     1681337       738.0    0.005737        0.001521
        2021     1655767       738.0    0.006356        0.001553
        2022     1645265       738.0    0.006762        0.001241
        2023     1644199       738.0    0.012728        0.001311
Alpine  1985        1100       739.0    0.007273        0.003636
        1986        1140       739.0    0.020175        0.011404
        1987        1130       739.0    0.005310        0.000885
        1988        1100       739.0    0.001818        0.000000
        1989        1090       739.0    0.003670        0.000000
        1990        1113       739.0    0.000898        0.000000
        1991        1107       739.0    0.005420        0.000903
        1992        1126       739.0    0.006217        0.003552
        1993        1131       739.0    0.011494        0.004421
        1994        1125       739.0    0.008000        0.002667
        1995        1145       739.0    0.007860        0.006987

              population_density  unemployment_rate  median_hse_income  \
County  Year
Alameda 1985         1606.368564                NaN                NaN
        1986         1635.365854                NaN                NaN
        1987         1653.929539                NaN                NaN
        1988         1683.333333                NaN                NaN
        1989         1708.943089                NaN                NaN
        1990         1729.948509                NaN                NaN
        1991         1740.897019                5.5                NaN
        1992         1765.188347                6.6                NaN
        1993         1786.079946                6.7                NaN
        1994         1798.815718                6.2                NaN
        1995         1806.275068                5.7                NaN
        1996         1816.407859                5.1                NaN
        1997         1844.620596                4.5                NaN
        1998         1882.113821                4.1                NaN
        1999         1913.705962                3.5                NaN
        2000         1956.556911                3.6            55600.0
        2001         1974.505420                4.8                NaN
        2002         1987.890244                6.8                NaN
        2003         1989.013550                6.9                NaN
        2004         1987.001355                5.9                NaN
        2005         1982.027100                5.1                NaN
        2006         1981.532520                4.4                NaN
        2007         1992.712737                4.7                NaN
        2008         2010.955285                6.2                NaN
        2009         2029.537940               10.7            68258.0
        2010         2046.437669               11.2            66937.0
        2011         2069.334688               10.3            67295.0
        2012         2099.177507                8.8            70209.0
        2013         2134.334688                7.3            72128.0
        2014         2164.968835                5.9            76996.0
        2015         2198.109756                4.8            81462.0
        2016         2224.909214                4.3            89472.0
        2017         2245.147696                3.7            95550.0
        2018         2257.787263                3.1           101744.0
        2019         2270.953930                3.0           107589.0
        2020         2278.234417                8.9           113518.0
        2021         2243.586721                6.1           108971.0
        2022         2229.356369                3.4           121190.0
        2023         2227.911924                4.1           119230.0
Alpine  1985            1.488498                NaN                NaN
        1986            1.542625                NaN                NaN
        1987            1.529093                NaN                NaN
        1988            1.488498                NaN                NaN
        1989            1.474966                NaN                NaN
        1990            1.506089                NaN                NaN
        1991            1.497970               13.4                NaN
        1992            1.523681               16.7                NaN
        1993            1.530447               13.1                NaN
        1994            1.522327               10.3                NaN
        1995            1.549391               10.5                NaN

                  CPI  adjusted_income
County  Year
Alameda 1985      NaN              NaN
        1986      NaN              NaN
        1987      NaN              NaN
        1988      NaN              NaN
        1989      NaN              NaN
        1990      NaN              NaN
        1991      NaN              NaN
        1992      NaN              NaN
        1993      NaN              NaN
        1994      NaN              NaN
        1995      NaN              NaN
        1996      NaN              NaN
        1997      NaN              NaN
        1998      NaN              NaN
        1999      NaN              NaN
        2000  174.800       318.077803
        2001      NaN              NaN
        2002      NaN              NaN
        2003      NaN              NaN
        2004      NaN              NaN
        2005      NaN              NaN
        2006      NaN              NaN
        2007      NaN              NaN
        2008      NaN              NaN
        2009  224.110       304.573647
        2010  226.919       294.981910
        2011  232.930       288.906538
        2012  238.155       294.803804
        2013  241.623       298.514628
        2014  246.055       312.921908
        2015  249.666       326.283915
        2016  255.303       350.454166
        2017  262.802       363.581708
        2018  272.510       373.358776
        2019  280.638       383.372886
        2020  285.315       397.869022
        2021  297.371       366.447972
        2022  319.224       379.639375
        2023  331.804       359.338646
Alpine  1985      NaN              NaN
        1986      NaN              NaN
        1987      NaN              NaN
        1988      NaN              NaN
        1989      NaN              NaN
        1990      NaN              NaN
        1991      NaN              NaN
        1992      NaN              NaN
        1993      NaN              NaN
        1994      NaN              NaN
        1995      NaN              NaN

[50 rows x 27 columns]

# Work on Poverty

In [ ]:
poverty_rate_df = pd.read_excel("../data/Poverty_rate_2009_2023.xlsx")

In [ ]:
poverty_rate_df.head()

,Year,ID,Name,Poverty Universe,Number in Poverty,90% Confidence Interval,Percent in Poverty,90% Confidence Interval.1
0,2023,6000,California,38249913,4597732,"4,546,196 to 4,649,268",12.0,11.9 to 12.1
1,2023,6001,Alameda County,1594026,151872,"138,959 to 164,785",9.5,8.7 to 10.3
2,2023,6003,Alpine County,1136,177,134 to 220,15.6,11.8 to 19.4
3,2023,6005,Amador County,37700,4400,"3,493 to 5,307",11.7,9.3 to 14.1
4,2023,6007,Butte County,203267,40532,"36,792 to 44,272",19.9,18.1 to 21.7

# Work on health Insurance

In [ ]:
health_insurance_df = pd.read_excel("../data/Health_Insurance_2010_to_2023.xlsx")

In [579]:
extra_hi = "../data/Extra-HI/Extra"

hi_dfs = {}

for filename in os.listdir(extra_hi):
    # print(filename)
    file_path = os.path.join(extra_hi, filename)
    raw_data = pd.read_excel(file_path, sheet_name="Data", header=[0, 1])
    trans = raw_data.T
    trans.columns = trans.iloc[0]
    trans = trans[1:]
    year = filename.strip("HI_, .xlsx")
    trans["Year"] = year
    # tranpose.set_index(["County", "Year"], inplace=True)
    hi_dfs[year] = trans.reset_index()

In [580]:
hi_dfs["2010"].head()

"(Unnamed: 0_level_0, Label)",level_0,level_1,EMPLOYMENT STATUS,Population 16 years and over,In labor force,Civilian labor force,Employed,Unemployed,Armed Forces,Not in labor force,...,Under 18 years,Related children under 18 years,Related children under 5 years,Related children 5 to 17 years,18 years and over,18 to 64 years,65 years and over,People in families,Unrelated individuals 15 years and over,Year
0,"Alameda County, California",Estimate,NaN,"1,211,230","797,135","796,058","699,389","96,669","1,077","414,095",...,(X),(X),(X),(X),(X),(X),(X),(X),(X),2010
1,"Alameda County, California",Estimate Margin of Error,NaN,"Â±1,833","Â±9,451","Â±9,453","Â±9,766","Â±5,653",Â±458,"Â±9,725",...,(X),(X),(X),(X),(X),(X),(X),(X),(X),2010
2,"Alameda County, California",Percent,NaN,"1,211,230",65.8%,65.7%,57.7%,8.0%,0.1%,34.2%,...,17.4%,17.2%,15.9%,17.6%,12.3%,12.7%,10.1%,10.6%,24.4%,2010
3,"Alameda County, California",Percent Margin of Error,NaN,(X),Â±0.8,Â±0.8,Â±0.8,Â±0.5,Â±0.1,Â±0.8,...,Â±2.2,Â±2.2,Â±2.6,Â±2.5,Â±0.9,Â±0.9,Â±1.4,Â±1.2,Â±1.6,2010
4,"Butte County, California",Estimate,NaN,"180,131","103,592","103,291","88,041","15,250",301,"76,539",...,(X),(X),(X),(X),(X),(X),(X),(X),(X),2010

                                                          0    \
Unnamed: 0_level_0         Label            EMPLOYMENT STATUS
Alameda County, California Estimate                       NaN
                           Margin of Error                NaN

                                                                     1    \
Unnamed: 0_level_0         Label            Population 16 years and over
Alameda County, California Estimate                            1,348,945
                           Margin of Error                          Â±770

                                                       2    \
Unnamed: 0_level_0         Label            In labor force
Alameda County, California Estimate                905,633
                           Margin of Error          Â±3,445

                                                             3         4    \
Unnamed: 0_level_0         Label            Civilian labor force  Employed
Alameda County, California Estimate                      904,174   862,449
                           Margin of Error                Â±3,458    Â±3,526

                                                   5             6    \
Unnamed: 0_level_0         Label            Unemployed  Armed Forces
Alameda County, California Estimate             41,725         1,459
                           Margin of Error      Â±1,298          Â±266

                                                           7    \
Unnamed: 0_level_0         Label            Not in labor force
Alameda County, California Estimate                    443,312
                           Margin of Error              Â±3,498

                                                             8    \
Unnamed: 0_level_0         Label            Civilian labor force
Alameda County, California Estimate                      904,174
                           Margin of Error                Â±3,458

                                                          9    ...  \
Unnamed: 0_level_0         Label            Unemployment Rate  ...
Alameda County, California Estimate                       (X)  ...
                           Margin of Error                (X)  ...

                                                   135             136  \
Unnamed: 0_level_0         Label            All people  Under 18 years
Alameda County, California Estimate                (X)             (X)
                           Margin of Error         (X)             (X)

                                                                        137  \
Unnamed: 0_level_0         Label            Related children under 18 years
Alameda County, California Estimate                                     (X)
                           Margin of Error                              (X)

                                                                       138  \
Unnamed: 0_level_0         Label            Related children under 5 years
Alameda County, California Estimate                                    (X)
                           Margin of Error                             (X)

                                                                       139  \
Unnamed: 0_level_0         Label            Related children 5 to 17 years
Alameda County, California Estimate                                    (X)
                           Margin of Error                             (X)

                                                          140             141  \
Unnamed: 0_level_0         Label            18 years and over  18 to 64 years
Alameda County, California Estimate                       (X)             (X)
                           Margin of Error                (X)             (X)

                                                          142  \
Unnamed: 0_level_0         Label            65 years and over
Alameda County, California Estimate                       (X)
                           Margin of Error                (X)

                                                           143  \
Unnamed: 0_level_0         Label            People in families
Alameda County, California Estimate                        (X)
                           Margin of Error                 (X)

                                                                                144
Unnamed: 0_level_0         Label            Unrelated individuals 15 years and over
Alameda County, California Estimate                                             (X)
                           Margin of Error                                      (X)

[3 rows x 2030 columns]

In [ ]:
health_insurance_df.head()

,Year,County,Label,Civilian noninstitutionalized population,With health insurance coverage,With private health insurance,With public coverage,No health insurance coverage
0,2023,"Alameda County, California",Estimate,1641321,1574283,1228986,502254,67038
1,2023,"Alpine County, California",Estimate,1695,1610,1119,734,85
2,2023,"Amador County, California",Estimate,37789,35568,26408,17708,2221
3,2023,"Butte County, California",Estimate,207385,194212,127086,98182,13173
4,2023,"Calaveras County, California",Estimate,45670,43263,28952,22699,2407

In [ ]:
health_insurance_df.tail()

,Year,County,Label,Civilian noninstitutionalized population,With health insurance coverage,With private health insurance,With public coverage,No health insurance coverage
1547,2010,"Sutter County, California",Percent,"92,664",79.3%,51.1%,38.3%,20.7%
1548,2010,"Tulare County, California",Percent,"440,539",78.1%,46.6%,39.4%,21.9%
1549,2010,"Ventura County, California",Percent,"816,034",83.7%,68.3%,25.0%,16.3%
1550,2010,"Yolo County, California",Percent,"199,916",88.2%,73.7%,23.0%,11.8%
1551,2010,"Yuba County, California",Percent,"68,357",83.2%,49.4%,44.7%,16.8%

# Work on House Ownership data

In [ ]:
hse_ownership_df = pd.read_excel(
    "../data/House_Ownership_rent_2010_to_2023.xlsx", header=None
)

In [ ]:
hse_ownership_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,3239,3240,3241,3242,3243,3244,3245,3246,3247,3248
0,Year,2023,2023,2023,2023,2023,2023,2023,2023,2023,...,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010
1,County,"Alameda County, California","Alameda County, California","Alameda County, California","Alameda County, California","Alpine County, California","Alpine County, California","Alpine County, California","Alpine County, California","Amador County, California",...,"Ventura County, California","Ventura County, California","Yolo County, California","Yolo County, California","Yolo County, California","Yolo County, California","Yuba County, California","Yuba County, California","Yuba County, California","Yuba County, California"
2,Label,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,Margin of Error,Percent,Percent Margin of Error,Estimate,...,Percent,Percent Margin of Error,Estimate,Estimate Margin of Error,Percent,Percent Margin of Error,Estimate,Estimate Margin of Error,Percent,Percent Margin of Error

In [ ]:
hse_own_df = hse_ownership_df.copy()
hse_own_df = hse_own_df.T
hse_own_df.columns = hse_own_df.iloc[0]
hse_own_df = hse_own_df[1:].reset_index(drop=True)

In [ ]:
hse_own_df["County"] = hse_own_df["County"].apply(
    lambda x: x.replace(" County, California", "").strip()
)
hse_own_df = hse_own_df.set_index(["County", "Year"])

In [ ]:
hse_own_df.head(10)

0                               Label Total housing units  \
County  Year
Alameda 2023                 Estimate             630,726
        2023          Margin of Error                Â±295
        2023                  Percent             630,726
        2023  Percent Margin of Error                 (X)
Alpine  2023                 Estimate               1,587
        2023          Margin of Error                 Â±96
        2023                  Percent               1,587
        2023  Percent Margin of Error                 (X)
Amador  2023                 Estimate              18,919
        2023          Margin of Error                 Â±47

0            Occupied housing units Owner-occupied Renter-occupied  \
County  Year
Alameda 2023                593,117        320,712         272,405
        2023                 Â±1,676         Â±2,874          Â±2,581
        2023                  94.0%          54.1%           45.9%
        2023                   Â±0.3           Â±0.4            Â±0.4
Alpine  2023                    473            383              90
        2023                   Â±103            Â±92             Â±52
        2023                  29.8%          81.0%           19.0%
        2023                   Â±5.8           Â±9.7            Â±9.7
Amador  2023                 16,066         12,863           3,203
        2023                   Â±341           Â±457            Â±472

0            Less than 15.0 percent 15.0 to 19.9 percent 20.0 to 24.9 percent  \
County  Year
Alameda 2023                 32,899               34,476               33,678
        2023                 Â±1,393               Â±1,609               Â±1,269
        2023                  12.6%                13.2%                12.9%
        2023                   Â±0.5                 Â±0.6                 Â±0.5
Alpine  2023                     35                    2                   10
        2023                    Â±33                   Â±4                  Â±14
        2023                  47.3%                 2.7%                13.5%
        2023                  Â±31.2                 Â±4.9                Â±17.0
Amador  2023                    252                  472                  415
        2023                   Â±117                 Â±227                 Â±176

0            25.0 to 29.9 percent 30.0 to 34.9 percent 35.0 percent or more
County  Year
Alameda 2023               29,869               23,770              106,282
        2023               Â±1,279               Â±1,155               Â±2,542
        2023                11.4%                 9.1%                40.7%
        2023                 Â±0.5                 Â±0.5                 Â±0.8
Alpine  2023                   22                    0                    5
        2023                  Â±25                  Â±14                   Â±6
        2023                29.7%                 0.0%                 6.8%
        2023                Â±26.5                Â±39.4                Â±10.3
Amador  2023                  310                  333                1,064
        2023                 Â±132                 Â±202                 Â±333

In [ ]:
hse_own_df = hse_own_df.map(lambda x: x.replace(",", "").strip("Â±, %"))
hse_own_df["Total housing units"] = hse_own_df["Total housing units"].apply(
    lambda x: x.replace("(X)", "0")
)

In [ ]:
hse_own_df[hse_own_df.columns[1:]] = hse_own_df[hse_own_df.columns[1:]].astype(
    "float64"
)

In [ ]:
hse_own_df["home_ownership_rate"] = (
    hse_own_df["Owner-occupied"] / hse_own_df["Occupied housing units"]
)

In [ ]:
hse_own_df

0                                Label  Total housing units  \
County  Year
Alameda 2023                  Estimate             630726.0
        2023           Margin of Error                295.0
        2023                   Percent             630726.0
        2023   Percent Margin of Error                  0.0
Alpine  2023                  Estimate               1587.0
...                                ...                  ...
Yolo    2010   Percent Margin of Error                  0.0
Yuba    2010                  Estimate              27351.0
        2010  Estimate Margin of Error                220.0
        2010                   Percent              27351.0
        2010   Percent Margin of Error                  0.0

0             Occupied housing units  Owner-occupied  Renter-occupied  \
County  Year
Alameda 2023                593117.0        320712.0         272405.0
        2023                  1676.0          2874.0           2581.0
        2023                    94.0            54.1             45.9
        2023                     0.3             0.4              0.4
Alpine  2023                   473.0           383.0             90.0
...                              ...             ...              ...
Yolo    2010                     0.8             1.1              1.1
Yuba    2010                 23750.0         14214.0           9536.0
        2010                   494.0           525.0            540.0
        2010                    86.8            59.8             40.2
        2010                     1.7             2.0              2.0

0             Less than 15.0 percent  15.0 to 19.9 percent  \
County  Year
Alameda 2023                 32899.0               34476.0
        2023                  1393.0                1609.0
        2023                    12.6                  13.2
        2023                     0.5                   0.6
Alpine  2023                    35.0                   2.0
...                              ...                   ...
Yolo    2010                     1.4                   1.2
Yuba    2010                   603.0                1037.0
        2010                   142.0                 290.0
        2010                     7.2                  12.4
        2010                     1.7                   3.2

0             20.0 to 24.9 percent  25.0 to 29.9 percent  \
County  Year
Alameda 2023               33678.0               29869.0
        2023                1269.0                1279.0
        2023                  12.9                  11.4
        2023                   0.5                   0.5
Alpine  2023                  10.0                  22.0
...                            ...                   ...
Yolo    2010                   1.5                   1.3
Yuba    2010                1029.0                1092.0
        2010                 243.0                 247.0
        2010                  12.3                  13.0
        2010                   2.6                   2.8

0             30.0 to 34.9 percent  35.0 percent or more  home_ownership_rate
County  Year
Alameda 2023               23770.0              106282.0             0.540723
        2023                1155.0                2542.0             1.714797
        2023                   9.1                  40.7             0.575532
        2023                   0.5                   0.8             1.333333
Alpine  2023                   0.0                   5.0             0.809725
...                            ...                   ...                  ...
Yolo    2010                   1.3                   2.1             1.375000
Yuba    2010                 955.0                3680.0             0.598484
        2010                 221.0                 407.0             1.062753
        2010                  11.4                  43.8             0.688940
        2010                   2.6                   4.4             1.176471

[3248 rows x 12 columns]

# Work on category: "Urban", "Suburban", "Rural"

In [ ]:
# Define the criteria for Urban, Suburban, and Rural
conditions = [
    (crime_data_df["population_density"] > 1500),
    (crime_data_df["population_density"] <= 1500)
    & (crime_data_df["population_density"] >= 500),
    (crime_data_df["population_density"] < 500),
]

# The Categories: Index must much index of conditions
categories = ["Urban", "Suburban", "Rural"]

In [ ]:
# Create the categorical variable 'area_type'
crime_data_df["county_category"] = np.select(conditions, categories, default="unknown")

In [ ]:
crime_data_df

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879
...                   ...           ...          ...          ...
Yuba    2019          326             7           41           61
        2020          404             2           37           57
        2021          354             6           35           70
        2022          279             5           33           40
        2023          334             9           24           31

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453
...                      ...             ...              ...             ...
Yuba    2019             217             134                8               6
        2020             308             161                2               5
        2021             243             149                7               9
        2022             201             121                4               7
        2023             270             122                7               8

              RobberyClr_sum  AggAssaultClr_sum  ...  VehicleTheftClr_sum  \
County  Year                                     ...
Alameda 1985            1517               3376  ...                 1607
        1986            1545               3379  ...                 1698
        1987            1569               4132  ...                 2189
        1988            1545               3565  ...                 2533
        1989            1496               3203  ...                 2560
...                      ...                ...  ...                  ...
Yuba    2019              13                107  ...                   15
        2020              26                128  ...                   23
        2021              21                112  ...                   42
        2022              18                 92  ...                   25
        2023              14                 93  ...                   16

              LTtotalClr_sum  Population  Area_sq_mi  crime_rate  \
County  Year
Alameda 1985           10685     1185500       738.0    0.009809
        1986           10524     1206900       738.0    0.010353
        1987           11343     1220600       738.0    0.009588
        1988           11543     1242300       738.0    0.008825
        1989           11072     1261200       738.0    0.008375
...                      ...         ...         ...         ...
Yuba    2019              61       79619       630.0    0.004095
        2020              47       81178       630.0    0.004977
        2021              40       82091       630.0    0.004312
        2022              40       82563       630.0    0.003379
        2023              37       83405       630.0    0.004005

              clearance_rate  population_density  unemployment_rate  \
County  Year
Alameda 1985        0.004580         1606.368564                NaN
        1986        0.004615         1635.365854                NaN
        1987        0.005164         1653.929539                NaN
        1988        0.004595         1683.333333                NaN
        1989        0.004163         1708.943089                NaN
...                      ...                 ...                ...
Yuba    2019        0.001683          126.379365                NaN
        2020        0.001983          128.853968                NaN
        2021        0.001815          130.303175                NaN
        2022        0.001466          131.052381                NaN
        2023        0.001463          132.388889                NaN

              adjusted_income  county_category
County  Year
Alameda 1985              NaN            Urban
        1986              NaN            Urban
        1987              NaN            Urban
        1988              NaN            Urban
        1989              NaN            Urban
...                       ...              ...
Yuba    2019              NaN            Rural
        2020              NaN            Rural
        2021              NaN            Rural
        2022              NaN            Rural
        2023              NaN            Rural

[2262 rows x 26 columns]

# Work on Age folder to get the median age.

Conbine the Excels sheets

In [ ]:
# Define the directory with the excel files

directory = "../data/Age"

age_dfs = {}

for filename in os.listdir(directory):
    # print(filename)
    file_path = os.path.join(directory, filename)
    raw_data = pd.read_excel(file_path, sheet_name="Data", header=[0, 1])
    tranpose = raw_data.T
    tranpose.columns = tranpose.iloc[0]
    tranpose = tranpose[1:]
    tranpose = tranpose.reset_index()
    tranpose = tranpose.rename(columns={"level_0": "County"})
    tranpose["County"] = tranpose["County"].apply(
        lambda x: x.replace(" County, California", "").strip()
    )
    year = filename.strip("Age_, .xlsx")
    tranpose["Year"] = year
    tranpose.set_index(["County", "Year"], inplace=True)
    # tranpose = tranpose.drop['SUMMARY INDICATORS','PERCENT ALLOCATED','Sex', 'Age']
    age_dfs[year] = tranpose

In [495]:
age_dfs["2010"].index

MultiIndex([('Alameda', '2010'),
            ('Alameda', '2010'),
            ('Alameda', '2010'),
            ('Alameda', '2010'),
            ('Alameda', '2010'),
            ('Alameda', '2010'),
            ( 'Alpine', '2010'),
            ( 'Alpine', '2010'),
            ( 'Alpine', '2010'),
            ( 'Alpine', '2010'),
            ...
            (   'Yolo', '2010'),
            (   'Yolo', '2010'),
            (   'Yolo', '2010'),
            (   'Yolo', '2010'),
            (   'Yuba', '2010'),
            (   'Yuba', '2010'),
            (   'Yuba', '2010'),
            (   'Yuba', '2010'),
            (   'Yuba', '2010'),
            (   'Yuba', '2010')],
           names=['County', 'Year'], length=348)

In [ ]:
combined_age_dfs = pd.concat(age_dfs.values(), axis=0)
combined_age_dfs.head()

('Unnamed: 0_level_0', 'Unnamed: 0_level_1')  level_1            Label  \
County  Year
Alameda 2016                                    Total         Estimate
        2016                                  Total.1  Margin of Error
        2016                                     Male         Estimate
        2016                                   Male.1  Margin of Error
        2016                                   Female         Estimate

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') Total population  AGE  \
County  Year
Alameda 2016                                        1,605,217  NaN
        2016                                            *****  NaN
        2016                                          786,730  NaN
        2016                                              Â±51  NaN
        2016                                          818,487  NaN

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') Under 5 years 5 to 9 years  \
County  Year
Alameda 2016                                          6.1%         6.1%
        2016                                         *****         Â±0.1
        2016                                          6.3%         6.4%
        2016                                          Â±0.1         Â±0.1
        2016                                          5.8%         5.7%

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') 10 to 14 years 15 to 19 years  \
County  Year
Alameda 2016                                           5.9%           5.9%
        2016                                           Â±0.1           Â±0.1
        2016                                           6.0%           6.1%
        2016                                           Â±0.1           Â±0.1
        2016                                           5.7%           5.7%

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') 20 to 24 years 25 to 29 years  \
County  Year
Alameda 2016                                           6.7%           7.9%
        2016                                           Â±0.1          *****
        2016                                           6.9%           8.1%
        2016                                           Â±0.1           Â±0.1
        2016                                           6.5%           7.8%

('Unnamed: 0_level_0', 'Unnamed: 0_level_1')  ... Age dependency ratio  \
County  Year                                  ...
Alameda 2016                                  ...                 51.2
        2016                                  ...                *****
        2016                                  ...                  (X)
        2016                                  ...                  (X)
        2016                                  ...                  (X)

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') Old-age dependency ratio  \
County  Year
Alameda 2016                                                     18.8
        2016                                                    *****
        2016                                                      (X)
        2016                                                      (X)
        2016                                                      (X)

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') Child dependency ratio  \
County  Year
Alameda 2016                                                   32.4
        2016                                                  *****
        2016                                                    (X)
        2016                                                    (X)
        2016                                                    (X)

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') PERCENT ALLOCATED   Sex   Age  \
County  Year
Alameda 2016                                               NaN  0.1%  2.1%
        2016                                               NaN   (X)   (X)
        2016                                               NaN   (X)   (X)
        2016                                               NaN   (X)   (X)
        2016                                               NaN   (X)   (X)

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') Old-Age dependency ratio  \
County  Year
Alameda 2016                                                      NaN
        2016                                                      NaN
        2016                                                      NaN
        2016                                                      NaN
        2016                                                      NaN

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') PERCENT IMPUTED Under 18 years  \
County  Year
Alameda 2016                                             NaN            NaN
        2016                                             NaN            NaN
        2016                                             NaN            NaN
        2016                                             NaN            NaN
        2016                                             NaN            NaN

('Unnamed: 0_level_0', 'Unnamed: 0_level_1') 21 years and over
County  Year
Alameda 2016                                               NaN
        2016                                               NaN
        2016                                               NaN
        2016                                               NaN
        2016                                               NaN

[5 rows x 46 columns]

In [ ]:
combined_age_dfs[combined_age_dfs["level_1"] == "Total"]["Median age (years)"]

County     Year
Alameda    2016    37.2
Alpine     2016    42.8
Amador     2016    50.3
Butte      2016    36.9
Calaveras  2016    51.2
                   ...
Tulare     2012    29.7
Tuolumne   2012    48.0
Ventura    2012    36.4
Yolo       2012    30.5
Yuba       2012    31.9
Name: Median age (years), Length: 812, dtype: object

In [ ]:
crime_data_df["median_age"] = combined_age_dfs[combined_age_dfs["level_1"] == "Total"][
    "Median age (years)"
]

In [ ]:
crime_data_df.head(50)

              Violent_sum  Homicide_sum  ForRape_sum  Robbery_sum  \
County  Year
Alameda 1985        11628           143          791         5427
        1986        12495           174          820         5971
        1987        11703           147          770         5019
        1988        10963           159          722         4863
        1989        10563           172          670         4879
        1990        11626           188          766         5108
        1991        15435           199          707         6199
        1992        16748           214          671         7231
        1993        17647           199          637         7288
        1994        16278           187          617         6518
        1995        15392           196          564         6324
        1996        13875           142          542         5945
        1997        13428           142          557         5457
        1998        11894           107          595         4622
        1999        10233            85          542         3847
        2000         9485           110          569         3366
        2001         9422           108          495         3853
        2002         9497           144          472         4140
        2003        10104           139          524         4381
        2004         9114           117          472         3904
        2005         9749           126          542         4479
        2006        12419           172          518         6020
        2007        12536           152          528         6042
        2008        12778           147          590         5936
        2009        11189           138          553         5215
        2010        10468           132          524         4870
        2011        10785           133          413         5244
        2012        11899           152          477         6220
        2013        11739           113          362         6806
        2014        10356           102          423         5039
        2015         9679           119          568         4970
        2016        10127           116          628         5112
        2017         9923            90          810         4817
        2018         9948            92          834         4837
        2019         9734            96          702         4916
        2020         9645           143          684         4149
        2021        10524           146          671         4575
        2022        11125           158          691         4528
        2023        20927           165          773         5995
Alpine  1985            8             0            0            0
        1986           23             1            1            0
        1987            6             0            0            0
        1988            2             1            0            0
        1989            4             0            0            0
        1990            1             0            0            0
        1991            6             0            0            0
        1992            7             0            0            0
        1993           13             0            3            0
        1994            9             0            0            0
        1995            9             0            0            0

              AggAssault_sum  ViolentClr_sum  HomicideClr_sum  ForRapeClr_sum  \
County  Year
Alameda 1985            5267            5429               91             445
        1986            5530            5570              114             532
        1987            5767            6303               91             511
        1988            5219            5708              100             498
        1989            4842            5250               98             453
        1990            5564            5465              112             425
        1991            8330            5971              115             372
        1992            8632            6316              140             337
        1993            9523            6602               93             329
        1994            8956            6492              107             328
        1995            8308            3504               89             104
        1996            7246            3726               75             164
        1997            7272            5418               74             258
        1998            6570            4494               66             293
        1999            5759            4264               52             237
        2000            5440            3415               62             210
        2001            4966            3765               41             214
        2002            4741            3337               57             169
        2003            5060            3426               70             198
        2004            4621            3042               44             144
        2005            4602            2704               33              85
        2006            5709            3701               58             180
        2007            5814            3461               39             162
        2008            6105            4008               45             184
        2009            5283            3570               64             248
        2010            4942            3422               66             199
        2011            4995            3174               52             134
        2012            5050            2946               55             201
        2013            4458            2957               51             143
        2014            4792            3079               68             177
        2015            4022            3000               52             277
        2016            4271            3346               58             336
        2017            4206            3296               58             375
        2018            4185            2803               46             199
        2019            4020            2218               50             164
        2020            4669            2558               65             128
        2021            5132            2571               60             140
        2022            5748            2041               60             114
        2023           13994            2156               79             102
Alpine  1985               8               4                0               0
        1986              21              13                1               1
        1987               6               1                0               0
        1988               1               0                0               0
        1989               4               0                0               0
        1990               1               0                0               0
        1991               6               1                0               0
        1992               7               4                0               0
        1993              10               5                0               0
        1994               9               3                0               0
        1995               9               8                0               0

              RobberyClr_sum  AggAssaultClr_sum  ...  LTtotalClr_sum  \
County  Year                                     ...
Alameda 1985            1517               3376  ...           10685
        1986            1545               3379  ...           10524
        1987            1569               4132  ...           11343
        1988            1545               3565  ...           11543
        1989            1496               3203  ...           11072
        1990            1536               3392  ...            9994
        1991            1483               4001  ...            9968
        1992            1435               4404  ...            9524
        1993            1414               4766  ...            8375
        1994            1329               4728  ...            8567
        1995             588               2723  ...            7011
        1996             895               2592  ...            7165
        1997            1205               3881  ...            7809
        1998             997               3138  ...            7096
        1999             912               3063  ...            6554
        2000             707               2436  ...            5268
        2001             695               2815  ...            5044
        2002             660               2451  ...            4810
        2003             846               2312  ...            4977
        2004             734               2120  ...            4470
        2005             772               1814  ...            3833
        2006            1014               2449  ...            3555
        2007            1062               2198  ...            3627
        2008            1175               2604  ...            3778
        2009            1068               2190  ...            3431
        2010             886               2271  ...            3524
        2011             866               2122  ...            3367
        2012             808               1882  ...            3292
        2013             855               1908  ...            3171
        2014             821               2013  ...            3272
        2015             765               1906  ...            3496
        2016             957               1995  ...            3335
        2017             924               1939  ...            3021
        2018             956               1602  ...            3166
        2019             776               1228  ...            3060
        2020             924               1441  ...            1832
        2021             726               1645  ...            1835
        2022             486               1381  ...            1838
        2023             486               1489  ...            2087
Alpine  1985               0                  4  ...               1
        1986               0                 11  ...               2
        1987               0                  1  ...               0
        1988               0                  0  ...               0
        1989               0                  0  ...               0
        1990               0                  0  ...               0
        1991               0                  1  ...               1
        1992               0                  4  ...               2
        1993               0                  5  ...               8
        1994               0                  3  ...              15
        1995               0                  8  ...               5

              Population  Area_sq_mi  crime_rate  clearance_rate  \
County  Year
Alameda 1985     1185500       738.0    0.009809        0.004580
        1986     1206900       738.0    0.010353        0.004615
        1987     1220600       738.0    0.009588        0.005164
        1988     1242300       738.0    0.008825        0.004595
        1989     1261200       738.0    0.008375        0.004163
        1990     1276702       738.0    0.009106        0.004281
        1991     1284782       738.0    0.012014        0.004647
        1992     1302709       738.0    0.012856        0.004848
        1993     1318127       738.0    0.013388        0.005009
        1994     1327526       738.0    0.012262        0.004890
        1995     1333031       738.0    0.011547        0.002629
        1996     1340509       738.0    0.010351        0.002780
        1997     1361330       738.0    0.009864        0.003980
        1998     1389000       738.0    0.008563        0.003235
        1999     1412315       738.0    0.007246        0.003019
        2000     1443939       738.0    0.006569        0.002365
        2001     1457185       738.0    0.006466        0.002584
        2002     1467063       738.0    0.006473        0.002275
        2003     1467892       738.0    0.006883        0.002334
        2004     1466407       738.0    0.006215        0.002074
        2005     1462736       738.0    0.006665        0.001849
        2006     1462371       738.0    0.008492        0.002531
        2007     1470622       738.0    0.008524        0.002353
        2008     1484085       738.0    0.008610        0.002701
        2009     1497799       738.0    0.007470        0.002383
        2010     1510271       738.0    0.006931        0.002266
        2011     1527169       738.0    0.007062        0.002078
        2012     1549193       738.0    0.007681        0.001902
        2013     1575139       738.0    0.007453        0.001877
        2014     1597747       738.0    0.006482        0.001927
        2015     1622205       738.0    0.005967        0.001849
        2016     1641983       738.0    0.006168        0.002038
        2017     1656919       738.0    0.005989        0.001989
        2018     1666247       738.0    0.005970        0.001682
        2019     1675964       738.0    0.005808        0.001323
        2020     1681337       738.0    0.005737        0.001521
        2021     1655767       738.0    0.006356        0.001553
        2022     1645265       738.0    0.006762        0.001241
        2023     1644199       738.0    0.012728        0.001311
Alpine  1985        1100       739.0    0.007273        0.003636
        1986        1140       739.0    0.020175        0.011404
        1987        1130       739.0    0.005310        0.000885
        1988        1100       739.0    0.001818        0.000000
        1989        1090       739.0    0.003670        0.000000
        1990        1113       739.0    0.000898        0.000000
        1991        1107       739.0    0.005420        0.000903
        1992        1126       739.0    0.006217        0.003552
        1993        1131       739.0    0.011494        0.004421
        1994        1125       739.0    0.008000        0.002667
        1995        1145       739.0    0.007860        0.006987

              population_density  unemployment_rate  adjusted_income  \
County  Year
Alameda 1985         1606.368564                NaN              NaN
        1986         1635.365854                NaN              NaN
        1987         1653.929539                NaN              NaN
        1988         1683.333333                NaN              NaN
        1989         1708.943089                NaN              NaN
        1990         1729.948509                NaN              NaN
        1991         1740.897019                NaN              NaN
        1992         1765.188347                NaN              NaN
        1993         1786.079946                NaN              NaN
        1994         1798.815718                NaN              NaN
        1995         1806.275068                NaN              NaN
        1996         1816.407859                NaN              NaN
        1997         1844.620596                NaN              NaN
        1998         1882.113821                NaN              NaN
        1999         1913.705962                NaN              NaN
        2000         1956.556911                NaN              NaN
        2001         1974.505420                NaN              NaN
        2002         1987.890244                NaN              NaN
        2003         1989.013550                NaN              NaN
        2004         1987.001355                NaN              NaN
        2005         1982.027100                NaN              NaN
        2006         1981.532520                NaN              NaN
        2007         1992.712737                NaN              NaN
        2008         2010.955285                NaN              NaN
        2009         2029.537940                NaN              NaN
        2010         2046.437669                NaN              NaN
        2011         2069.334688                NaN              NaN
        2012         2099.177507                NaN              NaN
        2013         2134.334688                NaN              NaN
        2014         2164.968835                NaN              NaN
        2015         2198.109756                NaN              NaN
        2016         2224.909214                NaN              NaN
        2017         2245.147696                NaN              NaN
        2018         2257.787263                NaN              NaN
        2019         2270.953930                NaN              NaN
        2020         2278.234417                NaN              NaN
        2021         2243.586721                NaN              NaN
        2022         2229.356369                NaN              NaN
        2023         2227.911924                NaN              NaN
Alpine  1985            1.488498                NaN              NaN
        1986            1.542625                NaN              NaN
        1987            1.529093                NaN              NaN
        1988            1.488498                NaN              NaN
        1989            1.474966                NaN              NaN
        1990            1.506089                NaN              NaN
        1991            1.497970                NaN              NaN
        1992            1.523681                NaN              NaN
        1993            1.530447                NaN              NaN
        1994            1.522327                NaN              NaN
        1995            1.549391                NaN              NaN

              county_category  median_age
County  Year
Alameda 1985            Urban         NaN
        1986            Urban         NaN
        1987            Urban         NaN
        1988            Urban         NaN
        1989            Urban         NaN
        1990            Urban         NaN
        1991            Urban         NaN
        1992            Urban         NaN
        1993            Urban         NaN
        1994            Urban         NaN
        1995            Urban         NaN
        1996            Urban         NaN
        1997            Urban         NaN
        1998            Urban         NaN
        1999            Urban         NaN
        2000            Urban         NaN
        2001            Urban         NaN
        2002            Urban         NaN
        2003            Urban         NaN
        2004            Urban         NaN
        2005            Urban         NaN
        2006            Urban         NaN
        2007            Urban         NaN
        2008            Urban         NaN
        2009            Urban         NaN
        2010            Urban        36.2
        2011            Urban        36.4
        2012            Urban        36.6
        2013            Urban        36.8
        2014            Urban        36.9
        2015            Urban        37.1
        2016            Urban        37.2
        2017            Urban        37.3
        2018            Urban        37.4
        2019            Urban        37.6
        2020            Urban        37.8
        2021            Urban        38.0
        2022            Urban        38.4
        2023            Urban        38.7
Alpine  1985            Rural         NaN
        1986            Rural         NaN
        1987            Rural         NaN
        1988            Rural         NaN
        1989            Rural         NaN
        1990            Rural         NaN
        1991            Rural         NaN
        1992            Rural         NaN
        1993            Rural         NaN
        1994            Rural         NaN
        1995            Rural         NaN

[50 rows x 27 columns]